참고 :  <br>
AI Factory : https://www.enterprisedb.com/docs/edb-postgres-ai/ai-factory/ <br>
API Reference : https://www.enterprisedb.com/docs/edb-postgres-ai/ai-factory/pipeline/reference/ <br>

## Connection to EPAS17 Database¶

To be able to run this notebook, you need firstly to deploy the `epas17` vagrant machine.

In [87]:
%reload_ext sql
%sql postgresql://enterprisedb:enterprisedb@192.168.56.14:5444/postgres

In [88]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

To be able to run this notebook, you need firstly to deploy the `extended16-pgaa` vagrant machine.

## Create PGFS, AIDB extensions

In [3]:
%%sql
CREATE EXTENSION pgfs;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
(psycopg2.errors.DuplicateObject) extension "pgfs" already exists

[SQL: CREATE EXTENSION pgfs;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [4]:
%%sql
CREATE EXTENSION aidb;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
(psycopg2.errors.DuplicateObject) extension "aidb" already exists

[SQL: CREATE EXTENSION aidb;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [5]:
%%sql
select * from pg_extension;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
15 rows affected.

[(12000, 'edbspl', 10, 11, False, '1.0', None, None),
 (13617, 'plpgsql', 10, 11, False, '1.0', None, None),
 (14334, 'edb_dblink_libpq', 10, 11, False, '1.0', None, None),
 (14336, 'edb_dblink_oci', 10, 11, False, '1.0', None, None),
 (16386, 'sql_profiler', 10, 2200, False, '4.1', None, None),
 (16493, 'edb_wait_states', 10, 2200, True, '1.5', None, None),
 (16509, 'pg_stat_statements', 10, 2200, True, '1.11', None, None),
 (16852, 'system_stats', 10, 2200, True, '3.0', None, None),
 (16864, 'query_advisor', 10, 2200, False, '1.2', None, None),
 (16916, 'edb_pg_tuner', 10, 11, False, '1.3.1', None, None),
 (25119, 'vector', 10, 2200, True, '0.8.0', None, None),
 (26124, 'pgfs', 10, 25772, False, '2.0.2', None, None),
 (26166, 'pgaa', 10, 11, False, '1.2.4', [26176], ['']),
 (33322, 'plpython3u', 10, 11, False, '1.0', None, None),
 (25448, 'aidb', 10, 25447, False, '4.5.0', None, None)]

## Create Storage Connection (S3 or Minio or Filesystem)

In [16]:
%%sql
SELECT pgfs.delete_storage_location('aidb_minio_storage');
SELECT pgfs.create_storage_location(
    'aidb_minio_storage',
    's3://aidb-bucket',
    '{"endpoint": "http://192.168.56.51:9000", 
       "allow_http": "true"}',
    '{"access_key_id": "minioadmin",
      "secret_access_key": "password"}'        
);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.

[('aidb_minio_storage',)]

In [17]:
%%sql
SELECT * FROM pgfs.list_storage_locations();

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
2 rows affected.

[('aidb_minio_storage', 's3://aidb-bucket', None, {'endpoint': 'http://192.168.56.51:9000', 'allow_http': 'true'}, {'access_key_id': 'minioadmin', 'secret_access_key': 'password'}),
 ('minio_ocr_burket', 's3://kcb-ocr', None, {'endpoint': 'http://192.168.56.51:9000', 'allow_http': 'true'}, {'access_key_id': 'minioadmin', 'secret_access_key': 'password'})]

In [18]:
%%sql
SELECT * FROM pgfs.get_default_storage_location();
SELECT pgfs.set_default_storage_location('aidb_minio_storage');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.

[('aidb_minio_storage',)]

## Create Volume from Storage Connection and show Content of Volume

In [26]:
%%sql
SELECT aidb.delete_volume('img_vol');
SELECT aidb.create_volume('img_vol', 'aidb_minio_storage','/Images','Image');
SELECT aidb.delete_volume('pdf_vol');
SELECT aidb.create_volume('pdf_vol', 'aidb_minio_storage','/Documents','Image');
SELECT aidb.delete_volume('text_vol');
SELECT aidb.create_volume('text_vol', 'aidb_minio_storage','/text','Text');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[('',)]

In [27]:
%%sql
SELECT * FROM aidb.volumes;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
5 rows affected.

[('public', 'ocr_gen_img_vol'),
 ('public', 'ocr_gen_pdf_vol'),
 ('public', 'img_vol'),
 ('public', 'pdf_vol'),
 ('public', 'text_vol')]

In [28]:
%%sql
SELECT * FROM aidb.list_volume_content('img_vol');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
14 rows affected.

[('.DS_Store', 6148, '2025-09-05 00:12:34.996 UTC'),
 ('ElectronicTaxInvoice.png', 286734, '2025-09-05 00:12:35.026 UTC'),
 ('ElectronicTaxInvoice_1.png', 92980, '2025-09-05 00:12:35.031 UTC'),
 ('StockFluctuationStatusStatement.png', 283868, '2025-09-05 00:12:35.023 UTC'),
 ('bank_statement.png', 58961, '2025-09-05 00:12:35.028 UTC'),
 ('기업정보사업부_OCR요청.png', 200790, '2025-09-05 00:12:34.999 UTC'),
 ('길연종합관리.jpg', 35238, '2025-09-05 00:12:35.016 UTC'),
 ('다인코리아.jpg', 54949, '2025-09-05 00:12:35.030 UTC'),
 ('대전광역시 시설관리공단.jpeg', 101447, '2025-09-05 00:12:34.992 UTC'),
 ('성남시청소년재단.jpg', 74228, '2025-09-05 00:12:34.997 UTC'),
 ('숨쉬는마을.jpg', 65033, '2025-09-05 00:12:34.997 UTC'),
 ('임팩트.jpg', 92253, '2025-09-05 00:12:35.017 UTC'),
 ('전자세금계산서.png', 286734, '2025-09-05 00:12:35.020 UTC'),
 ('주식등변동상황명세서.png', 283868, '2025-09-05 00:12:35.005 UTC')]

In [29]:
%%sql
SELECT * FROM aidb.list_volume_content('pdf_vol');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
19 rows affected.

[('(샘플)개인보호구지급대장.pdf', 7899554, '2025-09-05 00:12:10.725 UTC'),
 ('(샘플)국문_표준근로계약서 작성분.pdf', 486667, '2025-09-05 00:12:10.474 UTC'),
 ('(샘플)대표자안전점검 결과보고서.pdf', 3173656, '2025-09-05 00:12:10.575 UTC'),
 ('(샘플)비상사태대비훈련 결과보고서.pdf', 4689124, '2025-09-05 00:12:10.531 UTC'),
 ('(샘플)안전보건경영계획서.pdf', 2361631, '2025-09-05 00:12:10.613 UTC'),
 ('(샘플)안전보건경영목표.pdf', 979355, '2025-09-05 00:12:10.501 UTC'),
 ('(샘플)영문_표준근로계약서 작성분.pdf', 1777404, '2025-09-05 00:12:10.619 UTC'),
 ('(샘플)현장안전관리자 재직증명서 및 안전관리자 자격증.pdf', 490662, '2025-09-05 00:12:10.705 UTC'),
 ('(샘플)현장안전보건조직도.pdf', 606914, '2025-09-05 00:12:10.499 UTC'),
 ('2020년도 전기세_1.pdf', 1272344, '2025-09-05 00:12:10.586 UTC'),
 ('9. 2022년 특수검진 예산품의서.pdf', 1488003, '2025-09-05 00:12:10.707 UTC'),
 ('EmploymentContract.pdf', 486667, '2025-09-05 00:12:10.535 UTC'),
 ('c4611_sample_explain.pdf', 88226, '2025-09-05 00:12:10.532 UTC'),
 ('new_korea.pdf', 52879, '2025-09-05 00:12:10.630 UTC'),
 ('가축위생방역본부.pdf', 302219, '2025-09-05 00:12:10.585 UTC'),
 ('건설근로자공제회.pdf', 597846, '2025-09-05 00:12:10.635 UTC'),
 ('국가철도공단.pdf', 158312, '2025-09-05 00:12:10.473 UTC'),
 ('한국고전번역원.pdf', 196187, '2025-09-05 00:12:10.474 UTC'),
 ('한국국제교류재단(2단구조).pdf', 693203, '2025-09-05 00:12:10.574 UTC')]

In [30]:
%%sql
SELECT * FROM aidb.list_volume_content('text_vol');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[('new1.txt', 2580, '2025-09-05 00:12:45.428 UTC'),
 ('new2.txt', 7952, '2025-09-05 00:12:45.427 UTC'),
 ('뉴스1.txt', 7952, '2025-09-05 00:12:45.428 UTC')]

In [49]:
%%sql
SELECT * FROM aidb.read_volume_file('img_vol','전자세금계산서.png');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[(<memory at 0xffff71d037c0>,)]

In [34]:
%%sql
SELECT * FROM aidb.read_volume_file('img_vol','ElectronicTaxInvoice_1.png');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[(<memory at 0xffff720eadc0>,)]

## Show AIDB Model / Model provider

In [37]:
%%sql
SELECT * FROM aidb.model_providers;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
15 rows affected.

[('t5_local', 'A simple language model, ideal for translation, summarization, and question answering. Runs locally.', None),
 ('llama_instruct_local', "Instruction variants of Meta's family of large language models, runs locally.", None),
 ('gemini', '', None),
 ('embeddings', 'For any model that implements the OpenAI embeddings API.', None),
 ('completions', 'For any model that implements the OpenAI completions API.', None),
 ('openai_embeddings', 'For any embeddings model on the OpenAI platform', None),
 ('openai_completions', 'For any completions model on the OpenAI platform.', None),
 ('nim_completions', 'For any model that implements the OpenAI completions API on NVIDIA NIM.', None),
 ('nim_embeddings', 'For any model that implements the OpenAI embeddings API on NVIDIA NIM.', None),
 ('nim_clip', 'Vision/text model, ideal for encoding text and images, runs on NVIDIA NIM.', None),
 ('nim_reranking', 'Reranking model, runs on NVIDIA NIM.', None),
 ('nim_paddle_ocr', 'Paddle OCR model, ideal for optical character recognition, runs on NVIDIA NIM.', None),
 ('bert_local', 'Simple language model, ideal for encoding text, runs locally.', None),
 ('clip_local', 'A vision/text model, ideal for encoding text and images, runs locally.', None),
 ('dummy', 'Provides fake data, ideal for testing.', None)]

In [36]:
%%sql
SELECT * FROM aidb.models;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
17 rows affected.

[('bert', 'bert_local', ['config={}']),
 ('clip', 'clip_local', ['config={}']),
 ('t5', 't5_local', ['config={}']),
 ('llama', 'llama_instruct_local', ['config={}']),
 ('dummy', 'dummy', ['config={}']),
 ('my_openai_model', 'openai_completions', ['config={"model": "gpt-4o"}']),
 ('my_openai_embeddings', 'openai_embeddings', ['config={"model": "text-embedding-3-small"}']),
 ('t5_large_model', 't5_local', ['config={"model": "t5-large", "revision": "main"}']),
 ('distilroberta_v1_bert_model', 'bert_local', ['config={"model": "sentence-transformers/all-distilroberta-v1", "revision": "main"}']),
 ('my_nim_completions', 'nim_completions', ['config={"model": "meta/llama-3.2-1b-instruct"}']),
 ('my_local_ollama', 'embeddings', ['config={"url": "http://llama.local:11434/v1/embeddings", "model": "llama3.1", "dimensions": 2000}']),
 ('simple_model_ajz72eb', 'bert_local', ['config={}']),
 ('openai_model', 'openai_completions', ['config={"url": "https://api.openai.com/v1/chat/completions", "model": "gpt-4o"}']),
 ('paddle_ocr_model', 'nim_paddle_ocr', ['config={}']),
 ('kcb-text-nim-embeddings', 'nim_embeddings', ['config={"url": "https://integrate.api.nvidia.com/v1/embeddings", "model": "nvidia/nv-embedqa-e5-v5"}']),
 ('text-nim-completions', 'nim_completions', ['config={"url": "https://integrate.api.nvidia.com/v1/chat/completions", "model": "meta/llama3-8b-instruct"}']),
 ('kcb-nvidia-clip', 'nim_clip', ['config={"url": "https://integrate.api.nvidia.com/v1/embeddings", "model": "nvidia/nvclip"}'])]

## Show AIDB Model / Model provider

In [39]:
%%sql
--SELECT aidb.delete_model(model_name TEXT);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --SELECT aidb.delete_model(model_name TEXT);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [40]:
%%sql
-- EDB 기본 OCR 모델에 API key 추가하여 생성
SELECT aidb.create_model('paddle_ocr_model','nim_paddle_ocr',
    credentials => '{"api_key": "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" }'::JSONB
);
--SELECT aidb.delete_model('paddle_ocr_model');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
(psycopg2.errors.RaiseException) Failed to create model: Credentials for model provider "nim_paddle_ocr" already exist. Use flag "replace_credentials" to overwrite them, or omit credentials to re-use the existing ones. P0001
CONTEXT:  PL/pgSQL function aidb.create_model(text,character varying,jsonb,jsonb,boolean) line 39 at RAISE

[SQL: -- EDB 기본 OCR 모델에 API key 추가하여 생성
SELECT aidb.create_model('paddle_ocr_model','nim_paddle_ocr',
    credentials => '{"api_key": "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" }'::JSONB
);]
(Background on this error at: https://sqlalche.me/e/20/2j85)

## Create Model (LLM, Embedding, OCR, etc)

## Create Model > paddle_ocr_model

In [41]:
%%sql
SELECT * FROM aidb.perform_ocr(aidb.read_volume_file('img_vol', '전자세금계산서.png'),options => '{"model": "paddle_ocr_model"}');
-- 한글 인식을 못함

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
78 rows affected.

[(0, '89201012274100009619362588'),
 (1, ':1X2010125872898'),
 (2, '408'),
 (3, '3010'),
 (4, '12'),
 (5, '905'),
 (6, '222-22-22227'),
 (7, '128-01-39246'),
 (8, '4884018'),
 (9, '212E100'),
 (10, 'DQ-4564-4564'),
 (11, '010-5288-5605'),
 (12, '02-123-4567'),
 (13, 'E-M'),
 (14, 'bllces02@0l34524.com'),
 (15, 'E-Ma'),
 (16, 'younkooienonam.com'),
 (17, '304'),
 (18, '38714'),
 (19, '44'),
 (20, '2010'),
 (21, '12'),
 (22, '27'),
 (23, '7'),
 (24, '189,100'),
 (25, '10,910'),
 (26, '4'),
 (27, 'E'),
 (28, '74'),
 (29, '971'),
 (30, '33714'),
 (31, '44'),
 (32, '12'),
 (33, '27'),
 (34, '84'),
 (35, 'P'),
 (36, '5.000'),
 (37, '5.000'),
 (38, '500'),
 (39, '12'),
 (40, '27'),
 (41, '50'),
 (42, '150'),
 (43, '15'),
 (44, '12'),
 (45, '25'),
 (46, 'R9'),
 (47, '500'),
 (48, '1,000'),
 (49, '100'),
 (50, '12'),
 (51, '2'),
 (52, '6.500'),
 (53, '13.000'),
 (54, '1.300'),
 (55, '12'),
 (56, '27'),
 (57, '1'),
 (58, '5.000'),
 (59, '5,000'),
 (60, '500'),
 (61, '12'),
 (62, '84'),
 (63, '2'),
 (64, '500'),
 (65, '1,000'),
 (66, '100'),
 (67, '12'),
 (68, '27'),
 (69, '500'),
 (70, '500'),
 (71, '50'),
 (72, '12'),
 (73, 'ET'),
 (74, 'P'),
 (75, '500'),
 (76, '500'),
 (77, '50')]

In [ ]:
## Create Model > paddle_ocr_model

In [43]:
%%sql
SELECT * FROM aidb.perform_ocr(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice_1.png'),options => '{"model": "paddle_ocr_model"}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
32 rows affected.

[(0, '63208-00201'),
 (1, ')'),
 (2, '1323013'),
 (3, 'Tt'),
 (4, 'gE'),
 (5, 'AA'),
 (6, 'rIC'),
 (7, 'gE'),
 (8, '0|0'),
 (9, '0|0'),
 (10, '3324'),
 (11, 'H|2'),
 (12, '2023-01-03'),
 (13, '300,000'),
 (14, '30,000'),
 (15, 'o'),
 (16, '84'),
 (17, '74'),
 (18, 'Et7F'),
 (19, '33214'),
 (20, '01'),
 (21, '03'),
 (22, '300,000'),
 (23, '30,000'),
 (24, '34'),
 (25, '03'),
 (26, '08'),
 (27, '903'),
 (28, '0l37'),
 (29, '330,000'),
 (30, 'E ge 33 ge(www.hometax.go.kr)0| 3, E g 3E 3i3}(l3) g4Ct.'),
 (31, 'H3^ g2!2 A7l gqo|7l9l "Zg/#3> 3l3{I24l^>a3z} #3^ Zq "2 ol8o7l ul24C}')]

In [46]:
%%sql
SELECT * FROM aidb.parse_pdf(aidb.read_volume_file('pdf_vol', 
      'EmploymentContract.pdf'),'{"method": "Structured", "allow_partial_parsing": true}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[(0, '')]

In [47]:
%%sql
SELECT * FROM aidb.parse_pdf(aidb.read_volume_file('pdf_vol', 
      'new_korea.pdf'),'{"method": "Structured", "allow_partial_parsing": true}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
0 rows affected.

[]

## Show Model Provider and Model

In [51]:
%%sql
SELECT * FROM aidb.model_providers;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
15 rows affected.

[('t5_local', 'A simple language model, ideal for translation, summarization, and question answering. Runs locally.', None),
 ('llama_instruct_local', "Instruction variants of Meta's family of large language models, runs locally.", None),
 ('gemini', '', None),
 ('embeddings', 'For any model that implements the OpenAI embeddings API.', None),
 ('completions', 'For any model that implements the OpenAI completions API.', None),
 ('openai_embeddings', 'For any embeddings model on the OpenAI platform', None),
 ('openai_completions', 'For any completions model on the OpenAI platform.', None),
 ('nim_completions', 'For any model that implements the OpenAI completions API on NVIDIA NIM.', None),
 ('nim_embeddings', 'For any model that implements the OpenAI embeddings API on NVIDIA NIM.', None),
 ('nim_clip', 'Vision/text model, ideal for encoding text and images, runs on NVIDIA NIM.', None),
 ('nim_reranking', 'Reranking model, runs on NVIDIA NIM.', None),
 ('nim_paddle_ocr', 'Paddle OCR model, ideal for optical character recognition, runs on NVIDIA NIM.', None),
 ('bert_local', 'Simple language model, ideal for encoding text, runs locally.', None),
 ('clip_local', 'A vision/text model, ideal for encoding text and images, runs locally.', None),
 ('dummy', 'Provides fake data, ideal for testing.', None)]

In [58]:
%%sql
SELECT * FROM aidb.models;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
11 rows affected.

[('bert', 'bert_local', ['config={}']),
 ('clip', 'clip_local', ['config={}']),
 ('t5', 't5_local', ['config={}']),
 ('llama', 'llama_instruct_local', ['config={}']),
 ('dummy', 'dummy', ['config={}']),
 ('t5_large_model', 't5_local', ['config={"model": "t5-large", "revision": "main"}']),
 ('distilroberta_v1_bert_model', 'bert_local', ['config={"model": "sentence-transformers/all-distilroberta-v1", "revision": "main"}']),
 ('openai_model', 'openai_completions', ['config={"url": "https://api.openai.com/v1/chat/completions", "model": "gpt-4o"}']),
 ('kcb-nvidia-clip', 'nim_clip', ['config={"url": "https://integrate.api.nvidia.com/v1/embeddings", "model": "nvidia/nvclip"}']),
 ('paddle_ocr_model', 'nim_paddle_ocr', ['config={}']),
 ('text-nim-completions', 'nim_completions', ['config={"url": "https://integrate.api.nvidia.com/v1/chat/completions", "model": "meta/llama3-8b-instruct"}'])]

## Create Peddle OCR Model and run model

-delete existing model <br>
SELECT aidb.delete_model(model_name TEXT); <br>

-create syntax of new model
SELECT aidb.create_model( <br>
&nbsp;&nbsp;&nbsp;&nbsp; name => 'existing_model_name', <br>
&nbsp;&nbsp;&nbsp;&nbsp; provider => 'new_provider_or_same', <br>
&nbsp;&nbsp;&nbsp;&nbsp; config => '{"param1": "new_value"}'::jsonb, <br>
&nbsp;&nbsp;&nbsp;&nbsp; credentials => '{"token": "new_token"}'::jsonb, <br>
&nbsp;&nbsp;&nbsp;&nbsp; replace_credentials => true  -- 자격 증명 등을 덮어쓸 때 사용 <br>
); 
-자체 연동 가능한 nim_paddle_ocr은 한글 인식이 안됨

In [54]:
%%sql
SELECT aidb.delete_model('paddle_ocr_model');
SELECT aidb.create_model('paddle_ocr_model','nim_paddle_ocr',
    --config => '{"lang": "korean"}'::jsonb,
    credentials => '{"api_key": "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" }'::JSONB
);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.

[('paddle_ocr_model',)]

In [58]:
%%sql
SELECT * FROM aidb.perform_ocr(aidb.read_volume_file('img_vol', '전자세금계산서.png'),options => '{"model": "paddle_ocr_model"}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
78 rows affected.

[(0, '89201012274100009619362588'),
 (1, ':1X2010125872898'),
 (2, '408'),
 (3, '3010'),
 (4, '12'),
 (5, '905'),
 (6, '222-22-22227'),
 (7, '128-01-39246'),
 (8, '4884018'),
 (9, '212E100'),
 (10, 'DQ-4564-4564'),
 (11, '010-5288-5605'),
 (12, '02-123-4567'),
 (13, 'E-M'),
 (14, 'bllces02@0l34524.com'),
 (15, 'E-Ma'),
 (16, 'younkooienonam.com'),
 (17, '304'),
 (18, '38714'),
 (19, '44'),
 (20, '2010'),
 (21, '12'),
 (22, '27'),
 (23, '7'),
 (24, '189,100'),
 (25, '10,910'),
 (26, '4'),
 (27, 'E'),
 (28, '74'),
 (29, '971'),
 (30, '33714'),
 (31, '44'),
 (32, '12'),
 (33, '27'),
 (34, '84'),
 (35, 'P'),
 (36, '5.000'),
 (37, '5.000'),
 (38, '500'),
 (39, '12'),
 (40, '27'),
 (41, '50'),
 (42, '150'),
 (43, '15'),
 (44, '12'),
 (45, '25'),
 (46, 'R9'),
 (47, '500'),
 (48, '1,000'),
 (49, '100'),
 (50, '12'),
 (51, '2'),
 (52, '6.500'),
 (53, '13.000'),
 (54, '1.300'),
 (55, '12'),
 (56, '27'),
 (57, '1'),
 (58, '5.000'),
 (59, '5,000'),
 (60, '500'),
 (61, '12'),
 (62, '84'),
 (63, '2'),
 (64, '500'),
 (65, '1,000'),
 (66, '100'),
 (67, '12'),
 (68, '27'),
 (69, '500'),
 (70, '500'),
 (71, '50'),
 (72, '12'),
 (73, 'ET'),
 (74, 'P'),
 (75, '500'),
 (76, '500'),
 (77, '50')]

In [59]:
%%sql
SELECT * FROM aidb.perform_ocr(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice_1.png'),options => '{"model": "paddle_ocr_model"}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
32 rows affected.

[(0, '63208-00201'),
 (1, ')'),
 (2, '1323013'),
 (3, 'Tt'),
 (4, 'gE'),
 (5, 'AA'),
 (6, 'rIC'),
 (7, 'gE'),
 (8, '0|0'),
 (9, '0|0'),
 (10, '3324'),
 (11, 'H|2'),
 (12, '2023-01-03'),
 (13, '300,000'),
 (14, '30,000'),
 (15, 'o'),
 (16, '84'),
 (17, '74'),
 (18, 'Et7F'),
 (19, '33214'),
 (20, '01'),
 (21, '03'),
 (22, '300,000'),
 (23, '30,000'),
 (24, '34'),
 (25, '03'),
 (26, '08'),
 (27, '903'),
 (28, '0l37'),
 (29, '330,000'),
 (30, 'E ge 33 ge(www.hometax.go.kr)0| 3, E g 3E 3i3}(l3) g4Ct.'),
 (31, 'H3^ g2!2 A7l gqo|7l9l "Zg/#3> 3l3{I24l^>a3z} #3^ Zq "2 ol8o7l ul24C}')]

## aidb.parse_pdf , aidb 내장 기능

In [ ]:
%%sql
-- 내용 인식을 못함
SELECT * FROM aidb.parse_pdf(aidb.read_volume_file('pdf_vol', 'EmploymentContract.pdf'),'{"method": "Structured", "allow_partial_parsing": true}');

In [64]:
%%sql
-- 내용 인식을 못함
SELECT * FROM aidb.parse_pdf(aidb.read_volume_file('pdf_vol', 'new_korea.pdf'),'{"method": "Structured", "allow_partial_parsing": true}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
0 rows affected.

[]

## Create Text Model nim_completions : meta/llama3-8b-instruct from NVIDIA

Example for Text Summary

In [66]:
%%sql
SELECT aidb.delete_model('text-nim-completions');
SELECT aidb.create_model('text-nim-completions', 'nim_completions', 
  '{"url": "https://integrate.api.nvidia.com/v1/chat/completions", "model": "meta/llama3-8b-instruct"}',
  '{"api_key": "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"}'::jsonb);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.

[('text-nim-completions',)]

< Text Summary by text-nim-completions >

In [67]:
%%sql
SELECT *  FROM aidb.summarize_text('For the second year in a row, Korea will boycott a memorial ceremony in Japan honoring forced labor victims, including Koreans, after talks with Tokyo broke down over the wording of the memorial speech.
According to the Ministry of Foreign Affairs Thursday, the decision was made after the two sides could not agree on expressions that acknowledge the coercive nature of the labor at the Sado gold mines. The ceremony is expected to be held Sept. 13 near the mine site in Niigata Prefecture."We held serious discussions with the Japanese side over the matter, but ultimately failed to narrow differences on critical issues and decided it was difficult to participate," a ministry official told reporters during a briefing.
The official declined to specify the sticking points, saying only that the two sides engaged in "sincere discussions."
Another factor in the decision, the official said, was the limited time before the ceremony, which would have made it difficult to arrange logistics for the families of forced labor victims to attend.Seoul notified Tokyo of its decision earlier in the day.
The official said the ministry will hold its own separate memorial near the Sado mine with families of victims in attendance, but did not provide a specific timeline.The move comes as the Lee Jae Myung administration seeks to maintain stable relations with Japan while downplaying historical grievances.
During a summit with Japanese Prime Minister Shigeru Ishiba in Tokyo on Aug. 23, Lee said the two nations should cooperate where possible, signaling a distinction between historical disputes and practical cooperation.
This year''s boycott of the Sado mine memorial marks the second consecutive absence of Korean officials from the ceremony. Seoul also skipped the inaugural event last November, citing similar disagreements with Tokyo.
The annual memorial event was part of a bilateral agreement reached in July 2023, when the site — a former gold mining facility that used forced labor during World War II — was added to the UNESCO World Heritage list.
Korea''s consent was seen as critical to the designation. In return, Japan pledged to acknowledge the site''s wartime history by holding a yearly ceremony to honor those forced to work there, including Korean victims.
However, the inaugural ceremony turned into a diplomatic flashpoint. Korean officials withdrew at the last minute, expressing dissatisfaction with Japan''s choice of representative and the wording of the memorial speech, which avoided direct mention of the coercive nature of Korean labor at the site.', 
'{"model": "text-nim-completions"}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[("Korea has decided to boycott a memorial ceremony in Japan honoring forced labor victims, including Koreans, after talks on the wording of the memoria ... (833 characters truncated) ... pan had pledged to acknowledge the site's wartime history by holding a yearly ceremony to honor those forced to work there, including Korean victims.",)]

< 한글 요약이 영어로 나옴 >

In [68]:
%%sql
SELECT *  FROM aidb.summarize_text('김건희와 가장 긴 시간 통화한 역술인 백재권 
김건희 씨와 그토록 가깝게 지낸 백재권 씨는 누구인가? 윤석열 정부 출범 직후인 2022년 5월 말, 백 씨를 만나 2시간여 동안 인터뷰한 적이 있다. 백 씨에게 관심을 두게 된 계기는 윤 전 대통령이 서울중앙지검장 시절인 2018년 중앙일보 사주인 홍석현 중앙홀딩스 회장과 만나는 자리에 그가 동석한 의혹을 제기한 언론 보도(이상호 고발뉴스 기자, 심인보 뉴스타파 기자)였다. 특히 심 기자는 공저 <윤석열과 검찰개혁>을 통해 세 사람이 2018년 11월경 서울 인사동에서 술자리를 가진 정황을 매우 구체적으로 제시했다. 다만 백 씨의 실명을 거론하지는 않았다.
인터뷰에서 백씨는 당시 인사동 회동에 대해 묻자, 긍정도 부정도 하지 않았다. “고객의 프라이버시 문제라 확인해 줄 수 없다”는 취지였다. 이를 바탕으로 2023년 7월 <오마이뉴스>에 “‘천공 대체자’ 백재권, 윤석열-홍석현 회동 동석 의혹”이라는 제목의 기사를 썼다. 대통령 관저를 방문한 사람은 천공이 아니라 백 씨라는 경찰 수사 결과가 알려진 직후였다. 묘하게도 김 씨와 백 씨 간 집중적인 통화가 시작된 시점과 겹친다.
풍수나 관상은 ‘사실’이 아닌 ‘믿음’의 영역이다. ‘미신’이라는 세간의 부정적 평과 별개로 과학이 고도로 발전한 지금도 건재한 것은 그만큼 수요가 있기 때문이다. 일반인도 그렇지만, 이른바 권력자나 재력가 중에는 중대사가 있을 때 풍수가나 관상가의 의견을 참고하는 사람이 적지 않다. 백 씨는 인터뷰에서 “주로 정치인이나 기업인, 사업가 등을 만나는데, ‘비중 있는 인물’은 관상 뿐 아니라 집터나 조상 묘 등 풍수지리도 살펴본 다음에 평가한다”고 했다.
<중앙일보> 관상 칼럼으로 유명해진 백 씨는 정치권에서 꽤 알려진 인물이다. 윤석열 전 대통령 부부와 오랜 친분이 있는 그는 이재명 대통령 부부, 문재인 전 대통령의 부인 김정숙 씨를 만나 관상을 봐준 적도 있다. 20대 대선 때는 언론매체를 통해 윤석열 국민의힘 후보 당선을 공개적으로 예언해 관심을 끌기도 했다.
백재권, "윤석열과 김건희는 떨어질 수 없는 관계"
인터뷰에서 백 씨는 윤석열-김건희 부부에 대해 “떨어질 수 없는 관계”라며 “관상 궁합도 좋고 실제로도 좋은 궁합”이라고 말했다. 그의 관상평을 들어보면, 김 씨가 왜 그토록 백 씨에게 의존했는지를 가늠할 수 있다. 백 씨는 김 씨에 대해 “해석하기 힘든 관상”이라면서도 “결론적으로 대단히 좋은 관상”이라고 호평했다. “귀함이 있고, 윤 대통령과 서로 도움을 주고받는 관상”이라는 것이다. 그러면서 “윤석열이 대통령 되는 데는 김건희 도움이 컸고, 김건희는 윤석열을 만나 큰 권력을 얻었다”고 분석했다.
백 씨가 김 씨를 두고 “장점이 많은 분”이라고 하기에 “그간 제기된 의혹을 보면 김 여사는 장점보다 단점이 많지 않나”라고 묻자 이렇게 답했다.
“내가 그런 의혹이 사실인지 아닌지 일일이 확인할 수는 없다. 여기서는 그냥 사람만 분석하자. 오해받을 수도 있어 조심스러운데, 그분의 장점은 세상을 보는 안목이 높다는 것이다. 젊어서 실수도 했지만, 세상 보는 눈을 타고났다. 그리고 고귀한 상이다. 고귀한 사람은 험한 꼴을 안 당한다. 명예도 올라간다. 공작상의 특징이다. 악어는 권력만 있지 귀함이 없다. 김건희가 그걸 보충해 준다.”
백 씨는 2017년 국정농단 특검팀에서 활약한 윤석열 대전고등검찰청 검사가 서울중앙지검장에 발탁되자 중앙일보 칼럼에서 “윤석열은 악어상”이라고 평했다. “썩은 고기, 전염된 고기 등 부패한 물고기를 뼈까지 통째로 먹어 치워 강을 정화한다”면서. 그 칼럼이 계기가 돼 그해 가을 지인의 주선으로 윤석열-김건희 부부와 만나 저녁 식사를 함께했다.
2019년 6월 검찰총장 임명을 앞두고는 최종 후보 4명 중 윤석열 중앙지검장이 유력하다는 칼럼을 썼다. 악어 예찬론이었다.
“문재인 정부에서 ‘악어’를 앞세우면 국정 동력을 잃지 않고 추진하는 일에도 버팀목이 될 수 있다. 윤석열은 시대가 원하는 관상을 지녔다. 세상이 악어를 부르고 있다.”
인터뷰에서 백 씨는 20대 대선 당시 불거진 김건희 씨의 허위 학력, 경력 의혹에 대해 “설사 그런 의혹이 사실로 인정돼도 별문제가 안 될 것”이라면서 감쌌다. 주가 조작 연루 혐의에 대해서도 마찬가지였다. “그건 내가 잘 모르니 뭐라 말할 수 없다”면서도 “주가 조작이든 허위 이력이든 사실이라면 어느 정도 비난을 받아야겠지만 크게 문제가 되지는 않을 것”이라고 대수롭지 않게 말했다.
윤석열-김건희 부부의 권력과 파멸은 셰익스피어 비극 <맥베스>를 떠올리게 한다. 스코틀랜드 영주 맥베스는 세 마녀의 칭송과 왕이 된다는 예언에 고무돼 왕을 살해하고 왕위를 차지한다. 하지만 이후 죄책감과 살해 위협으로 악몽에 시달린다. 게다가 부인은 미쳐 자살한다. 맥베스는 다시 세 마녀를 찾아가 죽음을 피할 수 있을 듯한 예언을 받아내지만, 끝내 비참한 최후를 맞는다.
"윤석열, 100년에 한번 나올까 말까 한 희귀한 관상"
윤석열-김건희 부부 주변에는 많은 역술인, 무속인이 있었다. 백 씨도 그 중 한 사람이다. 백 씨는 인터뷰에서 천공, 건진, 무정 등을 가리켜 “장사꾼”이라고 비판했다. 특히 대통령실 용산 이전과 관련해 가장 많이 거론된 천공을 두고는 “사기꾼”이라는 거친 표현도 서슴지 않았다. 많은 풍수인이 오래전부터 용산 터가 좋다고 말해왔는데, 마치 자신이 처음 말한 것처럼 대중을 속였다는 취지였다.
그는 인터뷰에서 자신의 전문성을 강조했다. 관상과 풍수를 과학이라고 주장하면서 ‘사이비’들과의 차별성을 내세웠다. 그것이 사실인지 아닌지를 떠나 윤석열-김건희 부부가 맥베스처럼 무모한 절대권력을 꿈꾸는 데 그도 한몫했을지 모른다는 의구심은 자연스럽다.
윤석열이 검찰총장에 오르고 대권을 거머쥐기까지는 언뜻 백 씨의 ‘관상 예언’이 실현된 것처럼 보인다. 하지만 이후 끝없는 추락과 비극적 파멸은 예상하지 못했다는 점에서 근원적으로 불완전하고 모순적인 예언이었다. 어쩌면 백 씨는 이렇게 항변할지도 모르겠다. 나는 권력을 차지하는 귀한 관상이라고 말해줬을 뿐 그것을 야욕으로 키운 건 당사자 책임이라고. 더욱이 파멸까지 내가 책임질 수는 없는 것 아니냐고. 과연 그럴까?
백 씨는 2023년 6월 인터넷 매체와의 인터뷰에서 윤석열을 가리켜 “100년에 한 번 나올까 말까 한 희귀한 관상”이라며 “국가에 큰 공적을 남긴다”고 예언(?)했다. 해석하기에 따라 맞는 말일 수도 있겠다. 해괴하기 짝이 없는 불법 비상계엄을 일으켰다가 실패함으로써 우리나라 민주주의를 한층 성숙하게 하고, 검찰권력의 위험성과 검찰정권의 야만성을 온몸으로 드러냄으로써 많은 국민에게 검찰개혁의 필요성을 절감하게 했으니 말이다.', 
'{"model": "text-nim-completions"}');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('The article discusses the longest conversation between Kim Gun-hee, the wife of President Yoon Seok-yeol, and Baek Ja-gwon, a famous fortune-teller.  ... (1032 characters truncated) ... s and failures. The article also mentions Baek\'s recent prediction that Yoon is a "rarity of once in a hundred years" and will leave a great legacy.',)]

## Preparers auto-processing example,Text Chunk

In [70]:
%%sql
-- Create source test table
CREATE TABLE source_table_1628
(
    id      INT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    content TEXT NOT NULL
);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.

[]

In [71]:
%%sql
SELECT aidb.create_table_preparer(
    name => 'preparer_1628',
    operation => 'ChunkText',
    source_table => 'source_table_1628',
    source_data_column => 'content',
    destination_table => 'chunked_data_1628',
    destination_data_column => 'chunk',
    source_key_column => 'id',
    destination_key_column => 'id',
    options => '{"desired_length": 150}'::JSONB  -- Configuration for the ChunkText operation
);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('preparer_1628',)]

In [74]:
%%sql
SELECT aidb.set_auto_preparer('preparer_1628', 'Live');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('',)]

In [76]:
%%sql
INSERT INTO source_table_1628
VALUES (1, 'This is a significantly longer text example that might require splitting into smaller chunks. 
            The purpose of this function is to partition text data into segments of a specified maximum length, for example, 
            this sentence 145 is characters. This enables processing or storage of data in manageable parts.');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[]

In [77]:
%%sql
select * from chunked_data_1628;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[('1', 0, '1.part.0', 'This is a significantly longer text example that might require splitting into smaller chunks.'),
 ('1', 1, '1.part.1', 'The purpose of this function is to partition text data into segments of a specified maximum length, for example,'),
 ('1', 2, '1.part.2', 'this sentence 145 is characters. This enables processing or storage of data in manageable parts.')]

## UPSTAGE API Call to Documents Parsing from Image/PDF file¶

In [6]:
%%sql
-- 기 만들어진 함수 보기
-- SELECT proname AS function_name, prolang::regproc AS language, prosrc AS source_code FROM pg_proc WHERE proname like '%kv_json';
SELECT proname AS function_name FROM pg_proc WHERE proname like 'upstage%json';

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('upstage_doc_to_json',)]

In [253]:
%%sql
DROP FUNCTION upstage_doc_to_json(bin_image BINARY, name string, mime string);
CREATE OR REPLACE FUNCTION upstage_doc_to_json(bin_image BINARY, name string, mime string)
RETURNS JSONB AS $$

import requests
import json
import os

api_key = "up_C0Fc8bxK25EdnSzMFGiUaIQezj7vB"  # ex: up_xxxYYYzzzAAAbbbCCC
#file_path = "YOUR_FILE_NAME"  # ex: ./document.pdf
 
url = "https://api.upstage.ai/v1/document-digitization"
headers = {"Authorization": f"Bearer {api_key}"}

files_to_upload = {
      'document': (name, bin_image, mime)
}
#files = {"document": open(file_path, "rb")}

data = {
    "model": "document-parse-250618",
    "ocr": "auto",
    "chart_recognition": True,
    "coordinates": True,
    "output_formats": '["text"]',
#    "output_formats": '["html"]',
    "base64_encoding": '["figure"]',
}

response = requests.post(url, headers=headers, files=files_to_upload, data=data)
 
#print(response.json())

return json.dumps(response.json())

$$ LANGUAGE plpython3u;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.

[]

In [7]:
%%sql
SELECT upstage_doc_to_json(aidb.read_volume_file('pdf_vol', 'EmploymentContract.pdf'),'EmploymentContract.pdf','pdf');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[({'api': '2.0', 'ocr': True, 'model': 'document-parse-250618', 'usage': {'pages': 1}, 'content': {'html': '', 'text': '이 문서는 보인문서로서 외부 반출을 금합니다\n표준근로계약 ... (1926 characters truncated) ... ategory': 'footer', 'coordinates': [{'x': 0.0123, 'y': 0.9794}, {'x': 0.6172, 'y': 0.9794}, {'x': 0.6172, 'y': 0.9963}, {'x': 0.0123, 'y': 0.9963}]}]},)]

In [9]:
%%sql
DROP TABLE upstage_doc_to_json;
CREATE TABLE upstage_doc_to_json (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    contents JSONB,
    text TEXT,
    created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW()
);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.

[]

In [10]:
%%sql
-- PDF to json
insert into upstage_doc_to_json(name, contents) values('EmploymentContract.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', 'EmploymentContract.pdf'),'EmploymentContract.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('c4611_sample_explain.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', 'c4611_sample_explain.pdf'),'c4611_sample_explain.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('new_korea.pdf',
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', 'new_korea.pdf'),'new_korea.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)개인보호구지급대장.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)개인보호구지급대장.pdf'),'(샘플)개인보호구지급대장.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)국문_표준근로계약서 작성분.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)국문_표준근로계약서 작성분.pdf'),'(샘플)국문_표준근로계약서 작성분.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)대표자안전점검 결과보고서.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)대표자안전점검 결과보고서.pdf'),'(샘플)대표자안전점검 결과보고서.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)비상사태대비훈련 결과보고서.pdf',
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)비상사태대비훈련 결과보고서.pdf'),'(샘플)비상사태대비훈련 결과보고서.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)안전보건경영계획서.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)안전보건경영계획서.pdf'),'(샘플)안전보건경영계획서.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)안전보건경영목표.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)안전보건경영목표.pdf'),'(샘플)안전보건경영목표.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)영문_표준근로계약서 작성분.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)영문_표준근로계약서 작성분.pdf'),'(샘플)영문_표준근로계약서 작성분.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)현장안전관리자 재직증명서 및 안전관리자 자격증.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)현장안전관리자 재직증명서 및 안전관리자 자격증.pdf'),'(샘플)현장안전관리자 재직증명서 및 안전관리자 자격증.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('(샘플)현장안전보건조직도.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '(샘플)현장안전보건조직도.pdf'),'(샘플)현장안전보건조직도.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('2020년도 전기세_1.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '2020년도 전기세_1.pdf'),'2020년도 전기세_1.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('9. 2022년 특수검진 예산품의서.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('ocr_gen_pdf_vol', '9. 2022년 특수검진 예산품의서.pdf'),'9. 2022년 특수검진 예산품의서.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('가축위생방역본부.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '가축위생방역본부.pdf'),'가축위생방역본부.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('건설근로자공제회.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '건설근로자공제회.pdf'),'건설근로자공제회.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('국가철도공단.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '국가철도공단.pdf'),'국가철도공단.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('한국고전번역원.pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '한국고전번역원.pdf'),'한국고전번역원.pdf','pdf'));
insert into upstage_doc_to_json(name, contents) values('한국국제교류재단(2단구조).pdf', 
    upstage_doc_to_json(aidb.read_volume_file('pdf_vol', '한국국제교류재단(2단구조).pdf'),'한국국제교류재단(2단구조).pdf','pdf'));

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [11]:
%%sql
-- Image to json
insert into upstage_doc_to_json(name, contents) values('ElectronicTaxInvoice_1.png', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice_1.png'),'ElectronicTaxInvoice_1.png','png'));
insert into upstage_doc_to_json(name, contents) values('ElectronicTaxInvoice.png', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice.png'),'ElectronicTaxInvoice.png','png'));
insert into upstage_doc_to_json(name, contents) values('길연종합관리.jpg', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '길연종합관리.jpg'),'길연종합관리.jpg','jpg'));
insert into upstage_doc_to_json(name, contents) values('다인코리아.jpg', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '다인코리아.jpg'),'다인코리아.jpg','jpg'));
insert into upstage_doc_to_json(name, contents) values('대전광역시 시설관리공단.jpeg', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '대전광역시 시설관리공단.jpeg'),'대전광역시 시설관리공단.jpeg','jpeg')); 
insert into upstage_doc_to_json(name, contents) values('성남시청소년재단.jpg', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '성남시청소년재단.jpg'),'성남시청소년재단.jpg','jpg'));
insert into upstage_doc_to_json(name, contents) values('숨쉬는마을.jpg', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '숨쉬는마을.jpg'),'숨쉬는마을.jpg','jpg'));
insert into upstage_doc_to_json(name, contents) values('임팩트.jpg', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '임팩트.jpg'),'임팩트.jpg','jpg'));
insert into upstage_doc_to_json(name, contents) values('전자세금계산서.png', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '전자세금계산서.png'),'전자세금계산서.png','png'));
insert into upstage_doc_to_json(name, contents) values('주식등변동상황명세서.png', 
    upstage_doc_to_json(aidb.read_volume_file('img_vol', '주식등변동상황명세서.png'),'주식등변동상황명세서.png','jpg'));

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [15]:
%%sql
SELECT name, contents->>'model', contents->'content'->>'text', text FROM upstage_doc_to_json limit 3;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[('(샘플)개인보호구지급대장.pdf', 'document-parse-250618', '개인보호구 지급대장\n부서명 성명 지급품목(지급항목에 ✓ 기재) 날짜 서명 비고\n 내산장화 방독 마스크 각반 안전화 안전모 (�) 안전화 (外) 보안경 기타\n 반도체 경지현     ✓   2022.7.7 김지현 \n 설계 박성조    ✓    2622.8.1) 최 ... (2968 characters truncated) ...    22 5.17 안윤택 \n 디스     토시(55A) 22.5.20 정연혼 \n ☑ 저 주완식 기운(AEA)  V(4EA)  225.30 주반석\nDE-QESP-SM-016 ☞1\n(주)\n*부서명은 부서의 앞글자를 기록함\n(ex. \'디\':디스플레이사업부)', '개인보호구 지급대장\n부서명 성명 지급품목(지급항목에 ✓ 기재) 날짜 서명 비고\n 내산장화 방독 마스크 각반 안전화 안전모 (�) 안전화 (外) 보안경 기타\n 반도체 경지현     ✓   2022.7.7 김지현 \n 설계 박성조    ✓    2622.8.1) 최 ... (2968 characters truncated) ...    22 5.17 안윤택 \n 디스     토시(55A) 22.5.20 정연혼 \n ☑ 저 주완식 기운(AEA)  V(4EA)  225.30 주반석\nDE-QESP-SM-016 ☞1\n(주)\n*부서명은 부서의 앞글자를 기록함\n(ex. \'디\':디스플레이사업부)'),
 ('(샘플)비상사태대비훈련 결과보고서.pdf', 'document-parse-250618', '비상사태훈련 결과보고서 결 재 작 성 검 토 승 인\n 94 別\n작성일 : 2022.06.27\n훈련일자 2022-06-22 훈련종류 화학약품 누출\n 훈련장소 C동 작업장(라인내) 대상인원 C동 라인내 작업자\n 훈련 지휘자 경영팀 직위 수석 성 명 유 선 희\n ... (1137 characters truncated) ... 선 연구소 , 김 명 7 含 명근  \n 13 반드체 사업부 심충빈  \n 14 " 모인된  \n 15 " 있군택 Abi \n 16 17    \n 18    \n 19    \n     \n 20    \n 21    \n 22 23    \n 24    \n 25', '비상사태훈련 결과보고서 결 재 작 성 검 토 승 인\n 94 別\n작성일 : 2022.06.27\n훈련일자 2022-06-22 훈련종류 화학약품 누출\n 훈련장소 C동 작업장(라인내) 대상인원 C동 라인내 작업자\n 훈련 지휘자 경영팀 직위 수석 성 명 유 선 희\n ... (1137 characters truncated) ... 선 연구소 , 김 명 7 含 명근  \n 13 반드체 사업부 심충빈  \n 14 " 모인된  \n 15 " 있군택 Abi \n 16 17    \n 18    \n 19    \n     \n 20    \n 21    \n 22 23    \n 24    \n 25'),
 ('(샘플)안전보건경영계획서.pdf', 'document-parse-250618', '세부계획 23년도 안전보건경영 문서번호 BANDO-SH2-5\n 승인일자 2023. 01. 01.\n 개정번호 0 Page 1\n(주) 23년도 안전보건경영 세부계획\n[개요]\n1. 목적\n본 계획안은 (주)의 안전 · 보건에 관한 기준을 수립하고 그 책임의 소재를 ... (2290 characters truncated) ... ,현장별) 상시\n 계획수립 23년 위험성평가 계획 (안)마련 1분기\n 정기점검 23년 정기 위험성평가 사전교육실시 2분기\n 23년 정기 위험성평가 실시 2분기\n 개선추진 위험성평가 결과 개선사항 검토 및 추진 12월 내\n 결과보고 위험성평가 결과 보고 4분기', '세부계획 23년도 안전보건경영 문서번호 BANDO-SH2-5\n 승인일자 2023. 01. 01.\n 개정번호 0 Page 1\n(주) 23년도 안전보건경영 세부계획\n[개요]\n1. 목적\n본 계획안은 (주)의 안전 · 보건에 관한 기준을 수립하고 그 책임의 소재를 ... (2290 characters truncated) ... ,현장별) 상시\n 계획수립 23년 위험성평가 계획 (안)마련 1분기\n 정기점검 23년 정기 위험성평가 사전교육실시 2분기\n 23년 정기 위험성평가 실시 2분기\n 개선추진 위험성평가 결과 개선사항 검토 및 추진 12월 내\n 결과보고 위험성평가 결과 보고 4분기')]

## Auto Chunk and Vectorize.

%%sql
UPDATE upstage_doc_to_json SET text = contents->'content'->>'text';

In [36]:
%%sql
SELECT name,operation,destination_table,source_volume_name options FROM aidb.preparers;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
2 rows affected.

[('my_text_chunker', 'ChunkText', 'chunked_text', 'text_vol'),
 ('pdf_preparer', 'ParsePdf', 'pdf_extract_tab', 'ocr_gen_pdf_vol')]

In [39]:
%%sql
SELECT aidb.delete_preparer('upstage_doc_to_json_preparer');
SELECT aidb.create_table_preparer(
    name => 'upstage_doc_to_json_preparer',
    operation => 'ChunkText',
    source_table => 'upstage_doc_to_json',
    source_data_column => 'text',
    destination_table => 'upstage_doc_to_json_chunk',
    destination_data_column => 'chunk',
    source_key_column => 'id',
    destination_key_column => 'id',
    options => '{"desired_length": 150}'::JSONB  -- Configuration for the ChunkText operation
);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.

[('upstage_doc_to_json_preparer',)]

In [40]:
%%sql
SELECT aidb.bulk_data_preparation('upstage_doc_to_json_preparer');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('',)]

In [41]:
%%sql
SELECT aidb.set_auto_preparer('upstage_doc_to_json_preparer', 'Live');

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('',)]

In [158]:
%%sql
select id, part_id, unique_id, chunk from upstage_doc_to_json_chunk where id=4 limit 5;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
5 rows affected.

[('4', 0, '4.part.0', '개인보호구 지급대장\n부서명 성명 지급품목(지급항목에 ✓ 기재) 날짜 서명 비고\n 내산장화 방독 마스크 각반 안전화 안전모 (�) 안전화 (外) 보안경 기타\n 반도체 경지현     ✓   2022.7.7 김지현 \n 설계 박성조    ✓    2622.8.1) 최지훈'),
 ('4', 1, '4.part.1', '설계 박성조    ✓ ✓  2022 .8.17 박성료 \n 안 영상호    V(165))    2022.8.26 영상호. \n 반드체 이문수      V(15EA)  2022 8.30 이문수'),
 ('4', 2, '4.part.2', '디스 장석호  반면형 2FA      Do22 9.20 장석호 안규진 주방5,피랑15\n 디스 안규진   10EA.    2022 2022.11.14 12.21 유선의 \n 경영 반3 유선희 강유미      ICA ✓  스티커 2022 13.21 최두환'),
 ('4', 3, '4.part.3', '설계 최대윤,김병원,    2EA    2023.1.13 컨테린 \n 디스 김기든  반면될 2054      2023 1.25 김기돈 \n 밤에 최두환,이우수       헤드랜션 2023.2.2 이문수 \n 반드체 강운재    ~ キ  스티커1 2023.2.21 김윤재'),
 ('4', 4, '4.part.4', '반드체 조철흠     1   2023.2.21 김윤재 \n 반도체 이대희       스타케 2023.221 김윤재 \n 1093872 방종욱        2023.2.24 방종욱 \n 11 김명기    I    2023.2 .24 방굴을')]

자동 Preparer를 중지하는 법
%%sql
SELECT aidb.set_auto_preparer('upstage_doc_to_json_preparer', 'Disabled');

## Knowledge Bases

In [96]:
%%sql
select id,name,source_table, vector_table,model_name  from aidb.knowledge_bases;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[(13, 'upstage_doc_to_json_kb', 'upstage_doc_to_json', 'upstage_doc_to_json_kb_vector', 'text-nim-embeddings')]

In [75]:
%%sql
SELECT aidb.delete_model('text-nim-embeddings');
SELECT aidb.create_model('text-nim-embeddings',
                         'nim_embeddings',
                         '{"url":  "https://integrate.api.nvidia.com/v1/embeddings","model": "nvidia/nv-embedqa-e5-v5"}',
                          credentials => '{"api_key": "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" }'::JSONB);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('text-nim-embeddings',)]

In [140]:
%%sql
SELECT aidb.delete_model('text-openai-embeddings');
SELECT aidb.create_model('text-openai-embeddings',
                         'openai_embeddings',
                         '{"url":  "https://api.openai.com/v1/embeddings","model": "text-embedding-3-small"}',
                          credentials => '{"api_key": "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" }'::JSONB);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.

[('text-openai-embeddings',)]

In [147]:
%%sql
SELECT aidb.delete_knowledge_base('upstage_doc_to_json_kb');
SELECT aidb.create_table_knowledge_base('upstage_doc_to_json_kb',
               'text-openai-embeddings',
               'upstage_doc_to_json_chunk',
               'chunk',
               'Text'
       );

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('upstage_doc_to_json_kb',)]

<span style="font-size:110%">
<span style="color:blue">
knowledge_base 수행 옵션 : 실시간, 실시간 중지, 배치처리, 옵션을 가진 배치처리. <br>
</span></span>
<span style="font-size:100%">
<span style="color:black">
&nbsp;&nbsp;&nbsp;&nbsp;SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Live');   <br>
&nbsp;&nbsp;&nbsp;&nbsp;SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Disabled', batch_size => 100); <br>
&nbsp;&nbsp;&nbsp;&nbsp;SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Background', batch_size => 100, background_sync_interval => '10 seconds'); <br>
&nbsp;&nbsp;&nbsp;&nbsp;SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Background');
</span>
</span>

In [149]:
%%sql
SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb','Disabled', batch_size => 100);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('',)]

In [150]:
%%sql
SELECT aidb.bulk_embedding('upstage_doc_to_json_kb', false);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('',)]

In [152]:
%%sql
--drop table public.upstage_doc_to_json_kb_vector;
select count(*) from public.upstage_doc_to_json_kb_vector;

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[(30,)]

In [157]:
%%sql
SELECT * FROM aidb.retrieve_text('upstage_doc_to_json_kb', '정치', 4);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
4 rows affected.

[('25', '제 1항에 따라 우수한 가족친화경영 운영체제를 구축하고\n가족친화제도를 운영함으로써 근로자의 일 * 생활 균형을\n지원하고 국가경쟁력 향상에 기여하였기에 가족친화기관\n으로 인증합니다.\n회�\n2023년 12월 19일\n여성가족부장\n상징\n2\n� 전\n학\n정', 1.2140854311708107),
 ('25', '제 2023-1441 호\n가족친화 인 증서\n기 관 명 : 대전광역시 시설관리공단\n소 재 지 : 대전광역시 유성구 엑스포로 326\n유효기간 : 2023.12.1. ~ 2026. 11.30.\n1\n위 기관은 「가족친화 사회환경의 조성 촉진에 관한 법률」 제15조', 1.2140854311708107),
 ('15', '제 3 조 ( 직원의 정의 ) 이 규칙에서 “ 직원 ” 이라 함은 기간제근로자를 제외한 직제규정 제 11 조에서 정\n한 일반직과 공무직 직원을 말한다 . < 개정 2020.01.28.>\n제 2 장 채용 및 근로계약', 1.2289858647364689),
 ('15', '제 4 조 ( 채용기회 ) 위생방역본부는 직원의 모집 및 채용에 있어서 합리적인 이유 없이 성별 , 연령 ,\n신앙 , 사회적신분 , 출신지역 , 출신학교 , 혼인 · 임신 · 출산 또는 병력 ( 病歷 ) 등에 의한 차등을 두지\n않는다.', 1.2289858647364689)]

In [155]:
%%sql
SELECT * FROM aidb.retrieve_key('upstage_doc_to_json_kb', '정치', 2);

 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
2 rows affected.

[('25', 1.2140854311708107), ('15', 1.2289858647364689)]

In [ ]:
%%sql
-- knowledge_base 실시간, 실시간 중지, 배치처리, 옵션을 가진 배치처리.
SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Live');
SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Disabled', batch_size => 100);
SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Background');
SELECT aidb.set_auto_knowledge_base('upstage_doc_to_json_kb', 'Background', batch_size => 100, background_sync_interval => '10 seconds');

## OpenAI API Call to make json from Image/PDF file

<span style="color:blue">
<span style="font-size:110%">
문서(pdf,image)의 내용이 세금계산서 같은 테이블일 때, JSON으로 결과를 반영하면 PostgreSQL의 Native JSON 기능을 활용해서 데이터 조작이 쉬워집니다. <br>
OPENAI API 호출시 Prompt에 "Key-Value JSON으로 결과를 반환해 달라"고 명시할 수 있습니다. <br>
</span>
</span>

<p stype='font-size":5px>
<font color="red">문서가 세금계산서나 테이블 구조로 된 경우, 문서 파싱 결과를 JSON으로 받아서 DB 테이블에 저장하면, 데이터 활용에 용이합니다 <br>
OpenAI API 로 prompt에 Key-Value Json 으로 데이터를 반환해 달라 지정 해서 API 호출 
</font>
</p>

In [199]:
%%sql
-- 기 만들어진 함수 보기
-- SELECT proname AS function_name, prolang::regproc AS language, prosrc AS source_code FROM pg_proc WHERE proname like '%kv_json';
SELECT proname AS function_name FROM pg_proc WHERE proname like 'openai%json';

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('openai_binary_to_json',)]

In [160]:
%%sql
-- OpenAPI Request 함수 생성.
DROP FUNCTION openai_binary_to_json(bin_image BINARY, mime_type TEXT);
CREATE OR REPLACE FUNCTION openai_binary_to_json(bin_image BINARY, mime_type TEXT)
RETURNS JSONB AS $$
    # -- PL/Pythonu Function Body --
    # 필요한 라이브러리를 임포트합니다.
    import requests
    import json
    import base64
    import os

    # --- 설정 ---
    # 서버 환경 변수에서 OpenAI API 키를 가져옵니다.
    #api_key = os.environ.get("OPENAI_API_KEY")
    api_key ="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"
    if not api_key:
        # 환경 변수가 설정되지 않은 경우 에러 JSON을 반환합니다.
        return json.dumps({"error": "OPENAI_API_KEY environment variable is not set on the database server."})

    headers = {
        "Content-Type": "application/json",
        "Authorization": f"Bearer {api_key}"
    }

    # --- 이미지 파일을 Base64로 인코딩 ---
    base64_image = base64.b64encode(bin_image).decode('utf-8')

    # --- OpenAI API 요청 페이로드 생성 ---
    # 한글 인식 및 Key-Value JSON 추출에 최적화된 프롬프트
    prompt_text = """
    당신은 매우 정확한 한글 OCR 전문가입니다. 영어가 있으면 영어도 인식해 주세요
    이 이미지에서 모든 텍스트를 추출한 후, 문서의 구조를 분석하여 의미 있는 Key-Value 쌍의 JSON 객체로 만들어주세요.
    예를 들어, '공급자'라는 텍스트 옆에 회사 이름이 있으면 "공급자": "회사이름" 과 같이 만들어야 합니다.
    날짜, 금액, 주소, 사업자등록번호 등 모든 유의미한 정보를 추출하여 구조화된 JSON으로 반환해주세요.
    만약 구조화가 어려운 일반 텍스트라면, "unstructured_text"라는 키에 전체 텍스트를 담아주세요.
    JSON 형식만 반환하고 다른 설명은 덧붙이지 마세요. key도 가능하면 한글로 해 주세요.
    """

    payload = {
        "model": "gpt-4o",
        "messages": [
            {
                "role": "user",
                "content": [
                    {"type": "text", "text": prompt_text},
                    {
                        "type": "image_url",
                        "image_url": {
                            "url": f"data:{mime_type};base64,{base64_image}"
                        }
                    }
                ]
            }
        ],
        "max_tokens": 4000
    }

    # --- API 호출 및 예외 처리 ---
    try:
        response = requests.post("https://api.openai.com/v1/chat/completions", headers=headers, json=payload, timeout=60)
        response.raise_for_status()  # 200번대 상태 코드가 아니면 HTTPError 발생

        # API 응답에서 텍스트 콘텐츠 추출
        api_result_text = response.json()['choices'][0]['message']['content']

        # 모델이 응답을 ```json ... ```으로 감싸는 경우가 있어 처리
        if api_result_text.strip().startswith("```json"):
            json_str = api_result_text.strip()[7:-3].strip()
        else:
            json_str = api_result_text

        # 최종 JSON 객체 반환 (PL/Python이 자동으로 JSONB로 변환)
        return json_str

    except requests.exceptions.RequestException as e:
        # API 호출 실패 시, 응답 본문이 있으면 함께 반환하여 디버깅을 돕습니다.
        error_detail = str(e)
        if e.response is not None:
            try:
                error_detail = e.response.json()
            except json.JSONDecodeError:
                error_detail = e.response.text
        return json.dumps({"error": "API call failed", "details": error_detail})
    except (json.JSONDecodeError, KeyError, IndexError) as e:
        raw_response = response.text if 'response' in locals() else 'No response from API'
        return json.dumps({"error": f"Failed to parse API response: {e}", "raw_response": raw_response})

$$ LANGUAGE plpython3u;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.

[]

In [163]:
%%sql
SELECT openai_binary_to_json(aidb.read_volume_file('img_vol', '숨쉬는마을.jpg'),'image/png');

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[({'주소': '경기도 용인시 처인구 남사면 방아로 133번길 54-7', '발행일': '2018.11.06', '회사명': '주식회사 숨쉬는마을', '유효기간': '2023.11.05', '인증번호': '18-A-1238 IGC', '인증범위': '천벌경 함박우기토호의 제조', '인증서명': 'ISO 9001:2015', '사업자등록번호': '510-86-00802'},)]

In [164]:
%%sql
SELECT openai_binary_to_json(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice_1.png'),'image/png');

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[({'세액': 30000, '수표': '', '어음': '', '현금': '', '공급자': {'상호': '한경세무회계', '성명': '정영록', '업태': '전문, 과학 및 기술서비스업', '종목': '회계감사 및 사업비정산', '이메일': '', '등록번호': '63 ... (111 characters truncated) ... -03', '품목내역': [{'월': '01', '일': '03', '규격': '', '단가': '', '비고': '', '세액': 30000, '수량': '', '품목': '수수료', '공급가액': 300000}], '합계금액': 330000, '외상미수금': ''},)]

In [170]:
%%sql
DROP Table openai_binary_to_json;
CREATE TABLE openai_binary_to_json (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    contents JSONB,
    created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW()
);

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.

[]

In [174]:
%%sql
insert into openai_binary_to_json(name, contents) values('ElectronicTaxInvoice_1.png', 
       openai_binary_to_json(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice_1.png'),'image/png'));
insert into openai_binary_to_json(name, contents) values('ElectronicTaxInvoice.png',
       openai_binary_to_json(aidb.read_volume_file('img_vol', 'ElectronicTaxInvoice.png'),'image/png'));
insert into openai_binary_to_json(name, contents) values('숨쉬는마을.jpg', 
       openai_binary_to_json(aidb.read_volume_file('img_vol', '숨쉬는마을.jpg'),'image/png'));

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [192]:
%%sql
SELECT * FROM openai_binary_to_json;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
4 rows affected.

[(1, 'ElectronicTaxInvoice_1.png', {'세액': 30000, '공급자': {'상호': '한정세무회계', '성명': '정영록', '업태': '전문, 과학 및 기술서비스업', '종목': '회계감사 및 사업비정산', '사업장주소': '서울특별시 영등포구 선유동1로 32, 301호 (당산동3가, 신일빌딩)'}, ... (4 characters truncated) ... 가액': 300000, '등록번호': '632-08-00201', '작성일자': '2023-01-03', '품목내역': [{'월': '01', '일': '03', '세액': 30000, '품목': '수수료', '공급가액': 300000}], '합계금액': 330000}, datetime.datetime(2025, 9, 5, 4, 6, 45, 375797, tzinfo=datetime.timezone.utc)),
 (2, 'ElectronicTaxInvoice_1.png', {'세액': 30000, '품목': [{'월': '01', '일': '03', '세액': 30000, '품목명': '수수료', '공급가액': 300000}], '공급가액': 300000, '작성일자': '2023-01-03', '합계금액': 33000, '전자세금계산서 ... (14 characters truncated) ... 호': '한경세무회계', '성명': '정영록', '업태': '전문, 과학 및 기술서비스업', '종목': '회계감사 및 사업비정산', '사업장주소': '서울특별시 영등포구 선유동1로 32, 301호(당산동3가, 신일빌딩)'}, '등록번호': '632-08-00201'}}, datetime.datetime(2025, 9, 5, 4, 8, 53, 809719, tzinfo=datetime.timezone.utc)),
 (3, 'ElectronicTaxInvoice.png', {'비고': None, '품목': [{'월': '12', '일': '27', '규격': None, '단가': '5,000', '비고': None, '세액': '500', '수량': '1', '품목명': '품목', '공급가액': '5,000'}, {'월': '12', ' ... (1116 characters truncated) ...  '종목': ' 도소매', '이메일': 'youjin0001@nateon.com', '휴대폰': '010-5588-5505', '등록번호': '128-01-39246', '전화번호': '02-123-4567', '사업장주소': '서울 강북구 번1동 가든타워 19층'}}, datetime.datetime(2025, 9, 5, 4, 9, 0, 935753, tzinfo=datetime.timezone.utc)),
 (4, '숨쉬는마을.jpg', {'주소': '경기도 용인시 처인구 남사면 방아로 133 번길 54-7', '발급일': '2018.11.06', '회사명': '주식회사 숨쉬는마을', '유효기간': '2021.11.05', '인증규격': 'ISO 9001:2015', '인증번호': '18-A-1238 IGC', '인증분야': '천벌겅 함박누키토로의 제조', '사업자등록번호': '510-86-00802'}, datetime.datetime(2025, 9, 5, 4, 9, 22, 905751, tzinfo=datetime.timezone.utc))]

### Native JSON Query

In [184]:
%%sql
SELECT id, name, contents->>'공급자' AS ApprovalNum, created_at 
FROM openai_binary_to_json
WHERE name = 'ElectronicTaxInvoice.png';

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[(3, 'ElectronicTaxInvoice.png', '{"상호": "더존비즈온", "성명": "김더존", "업태": "서비스(시스템컨설팅)", "종목": "소프트웨어자문/개발및공급", "이메일": "Bill02@duzonmail.com", "등록번호": "222-22-22227", "전화번호": "02-468-4954", "사업장주소": "서울 중구 중림동 47-1 이세빌딩 6층"}', datetime.datetime(2025, 9, 5, 4, 9, 0, 935753, tzinfo=datetime.timezone.utc))]

In [188]:
%%sql
SELECT name as 문서명, contents->'공급자'->>'상호' as 상호 ,contents->'공급자'->>'종목' AS 종목 
FROM openai_binary_to_json 
WHERE name = 'ElectronicTaxInvoice.png';

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
1 rows affected.

[('ElectronicTaxInvoice.png', '더존비즈온', '소프트웨어자문/개발및공급')]

In [193]:
%%sql
SELECT name as 문서명, contents->'전자세금계산서'->'공급자'->>'상호' as 상호 ,contents->>'등록번호' AS 등록번호 
FROM openai_binary_to_json 
WHERE name = 'ElectronicTaxInvoice_1.png';

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
2 rows affected.

[('ElectronicTaxInvoice_1.png', None, '632-08-00201'),
 ('ElectronicTaxInvoice_1.png', '한경세무회계', None)]

In [196]:
%%sql
SELECT name, contents->'품목'->>0 AS first_item 
FROM openai_binary_to_json
WHERE name = 'ElectronicTaxInvoice_1.png';

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
2 rows affected.

[('ElectronicTaxInvoice_1.png', None),
 ('ElectronicTaxInvoice_1.png', '{"월": "01", "일": "03", "세액": 30000, "품목명": "수수료", "공급가액": 300000}')]

## Data Mask, REDACT Example

<span style="color:blue">
<span style="font-size:110%">
1) 특정 사용자에게 표시되는 데이터를 동적으로 변경하여 민감한 데이터 노출을 제한합니다. <br>
예를 들어, 사회보장번호(SSN)는 021-23-9567로 저장됩니다. <br>
권한이 있는 사용자는 전체 SSN을 볼 수 있지만, 다른 사용자는 마지막 네 자리 숫자만 볼 수 있습니다, xxx-xx-9567.  <br> 
<br>
2) 데이터 삭제는 삭제를 적용할 각 필드에 함수를 정의하여 구현합니다. 이 함수는 데이터 삭제 대상 사용자에게 표시할 값을 반환합니다.  <br>
예를 들어, 급여 필드의 경우 편집 함수는 입력 급여 값에 관계없이 항상 $0.00를 반환합니다. <br>
</span>
</span>

In [122]:
%%sql
-- 샘플 테이블 생성
DROP TABLE employees;
CREATE TABLE employees (
 id          integer GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
 name        varchar(40) NOT NULL,
 ssn         varchar(11) NOT NULL,
 phone       varchar(10),
 birthday    date,
 salary      money,
 email       varchar(100)
);

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.

[]

In [123]:
%%sql
-- Insert some data
INSERT INTO employees (name, ssn, phone, birthday, salary, email)
VALUES
( 'Sally Sample', '020-78-9345', '5081234567', '1961-02-02', 51234.34,'sally.sample@enterprisedb.com'),
( 'Jane Doe', '123-33-9345', '6171234567', '1963-02-14', 62500.00,'jane.doe@gmail.com'),
( 'Bill Foo', '123-89-9345', '9781234567','1963-02-14', 45350,'william.foe@hotmail.com');

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[]

In [126]:
%%sql
-- 일반 사용자 생성
REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA public FROM app_user;
DROP USER app_user CASCADE;
CREATE USER app_user PASSWORD 'password123';

-- 권한 부여
GRANT CONNECT ON DATABASE postgres TO enterprisedb, app_user;
GRANT USAGE ON SCHEMA public TO enterprisedb, app_user;
GRANT SELECT ON employees TO enterprisedb, app_user;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [125]:
%%sql
-- Create redaction function in which actual redaction logic resides
CREATE OR REPLACE FUNCTION redact_ssn (ssn varchar(11)) RETURN varchar(11) IS
BEGIN
   /* replaces 020-12-9876 with xxx-xx-9876 */
   return overlay (ssn placing 'xxx-xx' from 1) ;
END;

CREATE OR REPLACE FUNCTION redact_salary () RETURN money IS BEGIN return 0::money;
END;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.
Done.

[]

In [127]:
%%sql
CREATE REDACTION POLICY redact_policy_personal_info ON employees FOR (session_user != 'enterprisedb')
ADD COLUMN ssn USING redact_ssn(ssn) WITH OPTIONS (SCOPE query, EXCEPTION equal),
ADD COLUMN salary USING redact_salary();

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
Done.

[]

In [128]:
%%sql
SELECT * FROM employees;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[(1, 'Sally Sample', '020-78-9345', '5081234567', datetime.datetime(1961, 2, 2, 0, 0), '$51,234.34', 'sally.sample@enterprisedb.com'),
 (2, 'Jane Doe', '123-33-9345', '6171234567', datetime.datetime(1963, 2, 14, 0, 0), '$62,500.00', 'jane.doe@gmail.com'),
 (3, 'Bill Foo', '123-89-9345', '9781234567', datetime.datetime(1963, 2, 14, 0, 0), '$45,350.00', 'william.foe@hotmail.com')]

일반 사용자(app_user)로 접속하여 조회

In [129]:
%reload_ext sql
%sql postgresql://app_user:password123@192.168.56.14:5444/postgres

In [130]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [131]:
%%sql
SELECT * FROM employees;

 * postgresql://app_user:***@192.168.56.14:5444/postgres
   postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[(1, 'Sally Sample', 'xxx-xx-9345', '5081234567', datetime.datetime(1961, 2, 2, 0, 0), '$0.00', 'sally.sample@enterprisedb.com'),
 (2, 'Jane Doe', 'xxx-xx-9345', '6171234567', datetime.datetime(1963, 2, 14, 0, 0), '$0.00', 'jane.doe@gmail.com'),
 (3, 'Bill Foo', 'xxx-xx-9345', '9781234567', datetime.datetime(1963, 2, 14, 0, 0), '$0.00', 'william.foe@hotmail.com')]

In [132]:
%%sql
SELECT * FROM employees WHERE substring(ssn from 0 for 4) = '123';

 * postgresql://app_user:***@192.168.56.14:5444/postgres
   postgresql://enterprisedb:***@192.168.56.14:5444/postgres
2 rows affected.

[(2, 'Jane Doe', 'xxx-xx-9345', '6171234567', datetime.datetime(1963, 2, 14, 0, 0), '$0.00', 'jane.doe@gmail.com'),
 (3, 'Bill Foo', 'xxx-xx-9345', '9781234567', datetime.datetime(1963, 2, 14, 0, 0), '$0.00', 'william.foe@hotmail.com')]

DB 관리자(enterprisedb)로 접속하여 조회

In [140]:
%reload_ext sql
%sql postgresql://enterprisedb:enterprisedb@192.168.56.14:5444/postgres

In [141]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [142]:
%%sql
SELECT * FROM employees;

   postgresql://app_user:***@192.168.56.14:5444/postgres
 * postgresql://enterprisedb:***@192.168.56.14:5444/postgres
3 rows affected.

[(1, 'Sally Sample', '020-78-9345', '5081234567', datetime.datetime(1961, 2, 2, 0, 0), '$51,234.34', 'sally.sample@enterprisedb.com'),
 (2, 'Jane Doe', '123-33-9345', '6171234567', datetime.datetime(1963, 2, 14, 0, 0), '$62,500.00', 'jane.doe@gmail.com'),
 (3, 'Bill Foo', '123-89-9345', '9781234567', datetime.datetime(1963, 2, 14, 0, 0), '$45,350.00', 'william.foe@hotmail.com')]